<ion-view view-title="Connect" hide-nav-bar="true">
  <ion-content class="login-connect">

  	<section class="yocal-header">
  		<h1 id="logo">YOCAL</h1>
    	<p>Lorem ipsum dolor sit amet, cons sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
  	</section>

  	<section class="connect-btn-wrap">
  		<button class="button button-block icon-left ion-social-facebook button-positive">
  			Sign in with Facebook
  		</button>
  		<p class="connect-btn-wrap__divider"><small>or</small></p>
  		<button ui-sref="app.login" class="button button-block button-outline button-positive icon-left ion-android-person-add" >
  			Become a Yocal
		</button>
  	</section>

    

  </ion-content>
</ion-view>
