<ion-view view-title="Map">
  <ion-content 
    scroll="false"
    ng-class="{'locations-loaded': Map.locations_by_distance.length > 0 }"
  >
    
    <nav class="map--slider-metaBar" ng-class="{'is-shown':Map.slider.shown}" >
        <i class="ion-ios-arrow-back" ng-click="Map.showDiscoveryMap()"></i>
        <h4>
            <span class="meta-category">{{Map.slider.meta.category}} | </span>
            <i ng-class="{ 'ion-android-walk;': Map.distance_knob.value < 60 }"></i>
            {{Map.slider.meta.travelTime.text}}.
            <span ng-if="Map.distance_knob.value < 60">walk</span></h4>
    </nav>

    <nav class="map--slider-metaNav"  ng-class="{'shown':Map.knob.value && !Map.slider.shown}">
        <p class="map--slider-metaNav-city">{{currentPosition.city}}</p>

        <div class="map--slider-metaNav-controls">
            
            <select name="repeatSelect" 
                    id="repeatSelect" 
                    ng-model="Map.locations_categories.current"
                    ng-change="Map.load_category(Map.locations_categories.current)"
                    ng-options="category.name for category in Map.locations_categories.list">
            </select>
            
            <div class="map--slider-metaNav-dist">
                <ui-knob  
                    class="distance-knob"
                    value="Map.distance_knob.value" 
                    options="Map.distance_knob.options"
                ></ui-knob>
                <i
                ng-class="{'ion-android-walk': Map.distance_knob.value < 60 }"></i>
                <p>{{Map.distance_knob.value}} min. </p>   
            </div> 
            <p>{{ Map.metersToMiles(Map.knob.value).toFixed(2) }} mi.</p>
        </div>
        
    </nav>


    <ion-slide-box 
            class="map--slider" 
            ng-class="{'is-shown':Map.slider.shown}"
            show-pager="false"
            on-slide-changed="slideHasChanged($index)">


    	<ion-slide ng-repeat="location in Map.locations_by_distance" 
                   ng-class="{'active':location.isActive}"
        >

    		<div class="map--slider-location" >
                <!-- <img class="map--slider-location-img" src="http://lorempixel.com/375/200/city/{{$index}}"> -->
    			<div class="item item-divider card--location-header">
					<span class="location-name">{{location.name}}</span><br>
                    <address> <i class="ion-ios-location"></i>{{location.adress}}</address>

					<div class="card--location-header-meta">
						<i class="ion-android-time"> <small>0 - 0</small></i>
                        <div class="location-expense">
                            <span style="width:{{location.travelTime.value/100}}%"class="location-expense-indicator"> <i class="ion-cash"> </i></span>
                            <i class="ion-cash location-expense-base"> </i>
                        </div>
					</div>

				</div>
    		</div>

    	</ion-slide>
	</ion-slide-box>



    <div class="map-discovery-cats">
        <h2 class="map-discovery-city">Discover <br>
            <span>{{currentPosition.city}}</span>
        </h2>

        <div class="map-cats-wrap">
            <ul class="map-cats-list">
                <li ng-repeat="category in Map.locations_categories.list" class="map-cat">
                    <button style="transform:translate3d(0,{{Map.locations_categories.distance}}px ,0);"
                    ng-class="{expanded: Map.locations_categories.distance != 0}"
                    ng-click="Map.load_category(category)">
                        {{category.name}}
                    </button>
                </li>
            </ul>
        </div>
                
        <div class="map-cat map-cat-center"></div>     
    </div>



    <div id="Map" style="height:{{Map.gmap.height}}px; width:100%;"  ng-class="{'location-focused':Map.gmap.locationFocused}"></div>


    <nav class="map-discovery-nav" 
         ng-class='{
            loaded:Map.locations_loaded,
            locationNav: Map.slider.shown
        }'
    >

        <div
            ng-show="!Map.slider.shown" 
            class="map-discovery-knob"
            ng-class="{'cats-expanded': Map.discoverCatsExpanded}"
            ng-click="Map.discoverCatsExpanded = !Map.discoverCatsExpanded"
        >
            
            <ul class="map-discovery-knob--cats" ng-class="{active: Map.discoverCatsExpanded}">
                <li 
                    ng-repeat="category in Map.locations_categories.list"
                    ng-click="Map.load_category(category)">
                        <button  >{{category.name}}</button>
                    </li>
            </ul>

            
            <span ng-class="{
                'ion-close-circled': Map.discoverCatsExpanded,
                'ion-beer': Map.locations_categories.current.name === 'Drink' &&Map.discoverCatsExpanded == false,
                'ion-pizza': Map.locations_categories.current.name === 'Food' &&Map.discoverCatsExpanded == false,
            }">
                <h4 ng-show="Map.discoverCatsExpanded == false">{{Map.locations_categories.current.name}}</h4>
                <h4 ng-show="Map.discoverCatsExpanded">DISCOVER</h4>
            </span>

            <ui-knob  
                ng-show="!Map.discoverCatsExpanded"
                class="radius-knob"
                value="Map.knob.value" 
                options="Map.knob.options"
                style="width:{{Map.knob.options.size}}px;"

            ></ui-knob>
            
        </div>


        <div 
            ng-show="Map.slider.shown"
            class="map-discovery-location"
        >

            <i class="ion-ios-navigate"></i>

            <button class="ion-ios-close" 
                    ng-click="Map.showDiscoveryMap()">
            </button>

            <ul class="map-discovery-location--contact">
                <li><button ><i class="ion-ios-telephone"></i></button></li>
                <li><button ><i class="ion-person-add"></i></button></li>
                <li><button ><i class="ion-pin"></i></button></li>
                <li><button ><i class="ion-android-share-alt"></i></button></li>
            </ul>
        </div>
    	
    </nav>
    

  </ion-content>
</ion-view>
