<ion-view view-title="Search">
  <ion-content>
    
	    <ion-slide-box on-slide-changed="slideHasChanged($index)">
		  <ion-slide ng-repeat="location in locations ">
	    
	    <div class="box card">
		  <div class="item item-divider">{{location.name}} <i class="fa fa-{{location.category =='Food' ?'cutlery':''}}" aria-hidden="true"></i></div>
		  <div class="item item-text-wrap">
		    <pre>{{location | json}}</pre>
		  </div>
		  <div class="item item-divider">
		  	<p>{{location.travelTime}}</br>
		    <small>{{ (location.distancefromlocation*0.000621371).toFixed(2)}} miles away</small></p>
		  </div>
		</div>

	  </ion-slide>
	</ion-slide-box> 

	
	
  </ion-content>
</ion-view>
